@model ImageServiceWeb.Controllers.ProductsController.Handler
@{
    ViewBag.Title = "DeleteHandler";
}

<h2>DeleteHandler</h2>
<br />
<br />
<br />


<b>Are You Sure You Want To Delete Handler?</b>
<br />
<br />
<br />
<br />
<br />


@Html.ActionLink("OK", "DeleteHandlerAnswer", new { handlerToRemove = Model.path }, new { @class = "btn btn-primary" })
@Html.ActionLink("CANCEL", "BackToConfig", null, new { @class = "btn btn-primary" })


<script>


    $("#OK").click(function () {
        
        document.getElementById("OK").disabled = true;
        document.getElementById("CANCEL").disabled = true;
        
        var path = localStorage['objectToPass'];
        localStorage.removeItem('objectToPass'); // Clear the localStorage
        var input = {
            handlerToRemove: Model.path
        };
        $.post("@Url.Action("DeleteHandlerAnswer")", input, function (result) {
            
            window.location.href = "Config";
            
        });
    });
    
    $("#CANCEL").click(function () {
        window.location.href = "Config";
    });


</script>


