@model  ImageServiceWeb.Models.LogModel

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<p> Type: </p>
<input type="text" id="typeID" size="5" />
<input type="button" id="btnFilter" value="Filter" />
@Html.ActionLink("OK", "FilterLogType", new { logType = item.value })

<form action="/Form" method="post">
    <label for="FirstName">First Name</label>
    <input placeholder="Your name goes here" type="text" id="FirstName" name="FirstName" value="">
    <input type="submit">
    <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
</form>


<table class="table">
    <tr>
        <th> Type </th>
        <th> Message </th>
    </tr>

    @foreach (var item in Model.LogsToShow)
    {
        <div>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2)
                </td>
            </tr>
        </div>
    }
</table>

<script>

    $("#btnFilter").click(function () {
        var input = {
            logType: $("#typeID").val(),
        };
        $.post("@Url.Action("FilterLogList")", input, function (data) { }, "json");
    });

</script>


