@model ImageServiceWeb.Models.PhotosModel
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>

@foreach (var item in Model.ThumbPathList)
{
    <div class="row">
        <div class="col-sm-6 col-md-4">

            <img src = item class="img-circle" alt="name" width="200" height="200">
            <img src="~/Content/img/@Url.Content(item)" style="height:50px;width:100px;" />
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
}
